backups/preupdate-test-9XuOQHcbIZqE8scq-2026-04-02T15-25-48-515Z.json
{
  "updatedAt": "2026-04-02T15:20:49.914Z",
  "createdAt": "2026-04-02T14:52:22.955Z",
  "id": "9XuOQHcbIZqE8scq",
  "name": "Abenier Bot Logic Base",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "telegram-input",
      "name": "Telegram Input",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        320,
        300
      ],
      "webhookId": "1dfdc2f2-1ea1-4a34-a360-53c7e4cf1507"
    },
    {
      "parameters": {
        "jsCode": "const input = $json ?? {};\nconst message = input.message ?? {};\nconst callback = input.callback_query ?? null;\nconst callbackData = callback?.data ? String(callback.data) : '';\nconst messageText = typeof message.text === 'string' ? message.text : '';\nconst callbackText = typeof callback?.message?.text === 'string' ? callback.message.text : '';\nconst text = messageText || callbackText || '';\nconst chatIdRaw = message.chat?.id ?? callback?.message?.chat?.id ?? '';\nconst userIdRaw = message.from?.id ?? callback?.from?.id ?? '';\nconst messageIdRaw = message.message_id ?? callback?.message?.message_id ?? callback?.id ?? '';\nconst startMatch = text.match(/^\\/start(?:\\s+(.+))?$/);\nconst deepLink = startMatch?.[1] ? String(startMatch[1]).trim() : null;\nlet eventType = 'text_message';\nif (callback) {\n  eventType = 'callback_action';\n} else if (startMatch) {\n  eventType = deepLink ? 'deep_link_start' : 'start_reset';\n}\nreturn [{\n  json: {\n    event: {\n      event_type: eventType,\n      text,\n      chatId: String(chatIdRaw || ''),\n      userId: String(userIdRaw || ''),\n      messageId: String(messageIdRaw || ''),\n      timestamp: Date.now(),\n      callback_query: callbackData ? { data: callbackData } : null,\n      deep_link: deepLink,\n    },\n  },\n}];"
      },
      "id": "event-normalizer",
      "name": "Event Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{(() => { const base = $env.CONVEX_HTTP_BASE_URL || $env.CONVEX_URL || $env.NEXT_PUBLIC_CONVEX_URL; if (!base) { throw new Error('Missing Convex URL env: CONVEX_HTTP_BASE_URL or CONVEX_URL or NEXT_PUBLIC_CONVEX_URL'); } return String(base).replace(/\\/$/, '').replace(/\\.convex\\.cloud(?=\\/|$)/, '.convex.site'); })() + '/http/session-load'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"userId\": $json.event.userId, \"chatId\": $json.event.chatId}",
        "options": {}
      },
      "id": "session-load",
      "name": "Session Load",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json ?? {};\nlet event = payload.event ?? null;\nif (!event) {\n  try {\n    event = $item(0).$node['Event Normalizer'].json.event;\n  } catch {\n    event = null;\n  }\n}\nevent = event && typeof event === 'object' ? event : {};\nconst remoteSession = payload.session ?? payload.data?.session ?? null;\nconst remoteExists = payload.session?.exists ?? payload.data?.session?.exists ?? false;\nconst rawSessionData = remoteSession?.data ?? remoteSession;\nconst hasExistingSession = Boolean(remoteExists || (rawSessionData && typeof rawSessionData === 'object' && Object.keys(rawSessionData).length > 0));\nlet sellerId = '__SELLER_ID_FROM_ENV__';\nif (typeof $env !== 'undefined' && $env?.SELLER_ID) {\n  sellerId = String($env.SELLER_ID);\n}\nconst now = Date.now();\nconst baseSession = {\n  isNew: true,\n  session_version: 2,\n  chat_id: String(event.chatId ?? ''),\n  seller_id: sellerId,\n  language: null,\n  stage: 'idle',\n  resolved_flow: 'none',\n  tentative_flow: 'none',\n  next_action: null,\n  route_recommendation: 'stay_exploratory',\n  followup_round: 0,\n  last_asked_key: null,\n  collected_fields: {},\n  missing_information: [],\n  evidence_accumulated: 0,\n  message_history: [],\n  last_understanding_output: null,\n  last_rule_decision: null,\n  last_resolver_output: null,\n  shown_options: [],\n  selected_option: null,\n  ranking_order: [],\n  cheaper_option: null,\n  active_product_id: null,\n  deep_link_context: null,\n  callback_context: null,\n  lead_state: null,\n  notify_state: null,\n  handoff_state: null,\n  recovery_state: null,\n  error_count: 0,\n  updated_at: now,\n};\nconst session = hasExistingSession\n  ? {\n      ...baseSession,\n      ...(rawSessionData && typeof rawSessionData === 'object' ? rawSessionData : {}),\n      isNew: false,\n      chat_id: String((rawSessionData && rawSessionData.chat_id) || event.chatId || ''),\n      seller_id: String((rawSessionData && rawSessionData.seller_id) || sellerId),\n      language: rawSessionData && Object.prototype.hasOwnProperty.call(rawSessionData, 'language') ? rawSessionData.language : null,\n      session_version: 2,\n      updated_at: now,\n    }\n  : baseSession;\nreturn [{ json: { event, session } }];"
      },
      "id": "session-bootstrap",
      "name": "Session Bootstrap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{(() => { const base = $env.UNDERSTANDING_API_URL || $env.LLM_UNDERSTANDING_URL; if (!base) { throw new Error('Missing understanding URL env: UNDERSTANDING_API_URL or LLM_UNDERSTANDING_URL'); } return String(base).replace(/\\/$/, ''); })()}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"task\":\"understanding_layer\",\"prompt_version\":\"v2\",\"event\":$json.event,\"session\":$json.session,\"message_history\":Array.isArray($json.session?.message_history)?$json.session.message_history.slice(-8):[]}",
        "options": {}
      },
      "id": "understanding-ai",
      "name": "Understanding AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json ?? {};\nlet event = payload.event ?? null;\nlet session = payload.session ?? null;\ntry {\n  if (!event) {\n    event = $item(0).$node['Session Bootstrap'].json.event;\n  }\n  if (!session) {\n    session = $item(0).$node['Session Bootstrap'].json.session;\n  }\n} catch {}\n\nevent = event && typeof event === 'object' ? event : {};\nsession = session && typeof session === 'object' ? session : {};\n\nconst source = payload.understanding || payload.data || payload.result || payload;\nconst allowedUserNeed = ['exploration', 'recommendation', 'clarification', 'transaction', 'info_request', 'post_sale', 'exchange_inquiry'];\nconst allowedNextAction = ['clarify', 'ask_one_thing', 'suggest_options', 'answer_direct', 'push_to_mini_app', 'handoff', 'notify_me'];\nconst allowedTentativeFlow = ['buy_soft', 'exchange_soft', 'faq', 'support', 'none'];\nconst allowedRouteRecommendation = ['stay_exploratory', 'soft_buy', 'soft_exchange', 'strong_faq', 'strong_support'];\nconst allowedAskedKeys = ['budget_etb', 'model', 'condition', 'storage', 'old_phone_details'];\n\nconst toNumber = (value, fallback) => typeof value === 'number' && Number.isFinite(value) ? value : fallback;\nconst clamp = (value, min, max) => Math.min(max, Math.max(min, value));\nconst pickEnum = (value, allowed, fallback) => allowed.includes(value) ? value : fallback;\n\nconst normalized = {\n  user_need: pickEnum(source.user_need, allowedUserNeed, 'clarification'),\n  next_action: pickEnum(source.next_action, allowedNextAction, 'clarify'),\n  tentative_flow: pickEnum(source.tentative_flow, allowedTentativeFlow, 'none'),\n  confidence: clamp(toNumber(source.confidence, 0), 0, 1),\n  ambiguity: clamp(toNumber(source.ambiguity, 1), 0, 1),\n  missing_information: Array.isArray(source.missing_information) ? source.missing_information.filter((v) => allowedAskedKeys.includes(v)) : [],\n  route_recommendation: pickEnum(source.route_recommendation, allowedRouteRecommendation, 'stay_exploratory'),\n  evidence_accumulated: Math.max(0, Math.min(5, Number.isInteger(source.evidence_accumulated) ? source.evidence_accumulated : 0)),\n  reference_resolution: {\n    refers_to: source.reference_resolution?.refers_to ?? null,\n    resolved_id: source.reference_resolution?.resolved_id ?? null,\n    resolved_entity: source.reference_resolution?.resolved_entity ?? null,\n  },\n  last_asked_key: allowedAskedKeys.includes(source.last_asked_key) ? source.last_asked_key : null,\n};\n\nreturn [{\n  json: {\n    event,\n    session,\n    event_type: event.event_type ?? 'text_message',\n    message: { text: event.text ?? '' },\n    callback_query: event.callback_query ?? null,\n    deep_link: event.deep_link ?? null,\n    ...normalized,\n    validation_meta: {\n      validated: true,\n      source: 'validation_node',\n      timestamp: Date.now(),\n    },\n  },\n}];"
      },
      "id": "validation-node",
      "name": "Validation Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst session = input.session || {};\nconst eventType = input.event_type || 'text_message';\nconst message = input.message || {};\nconst callbackQuery = input.callback_query || null;\nconst deepLink = input.deep_link || null;\n\nconst understanding = {\n  user_need: input.user_need ?? 'clarification',\n  next_action: input.next_action ?? 'clarify',\n  tentative_flow: input.tentative_flow ?? 'none',\n  confidence: typeof input.confidence === 'number' ? input.confidence : 0,\n  ambiguity: typeof input.ambiguity === 'number' ? input.ambiguity : 1,\n  missing_information: Array.isArray(input.missing_information) ? input.missing_information : [],\n  route_recommendation: input.route_recommendation ?? 'stay_exploratory',\n  evidence_accumulated: Number.isInteger(input.evidence_accumulated) ? input.evidence_accumulated : 0,\n  reference_resolution: input.reference_resolution || {\n    refers_to: null,\n    resolved_id: null,\n    resolved_entity: null,\n  },\n  last_asked_key: input.last_asked_key ?? null,\n};\n\nconst text = (message.text || '').trim().toLowerCase();\nconst sessionResolvedFlow = session.resolved_flow || 'none';\nconst sessionTentativeFlow = session.tentative_flow || 'none';\nconst sessionSelectedOption = session.selected_option || null;\nconst sessionLastAskedKey = session.last_asked_key || null;\nconst sessionEvidence = Number.isInteger(session.evidence_accumulated) ? session.evidence_accumulated : 0;\nconst errorCount = Number.isInteger(session.error_count) ? session.error_count : 0;\n\nlet decision = {\n  event_type: eventType,\n  resolved_flow: sessionResolvedFlow,\n  tentative_flow: understanding.tentative_flow || sessionTentativeFlow || 'none',\n  route_locked: sessionResolvedFlow !== 'none',\n  next_action: understanding.next_action || 'clarify',\n  reply_mode: 'exploratory_question',\n  handoff_triggered: false,\n  notify_triggered: false,\n  resolver_needed: true,\n  selected_option: sessionSelectedOption ? sessionSelectedOption.id || sessionSelectedOption : null,\n  last_asked_key: understanding.last_asked_key || sessionLastAskedKey || null,\n  decision_reason: 'default_initialization',\n};\n\nconst hasStrongBuySignal = () => {\n  const buyWords = ['buy', 'new phone', 'phone', 'iphone', 'samsung'];\n  return buyWords.some((w) => text.includes(w));\n};\n\nconst hasStrongExchangeSignal = () => {\n  const exchangeWords = ['exchange', 'swap', 'trade in'];\n  return exchangeWords.some((w) => text.includes(w)) || understanding.user_need === 'exchange_inquiry';\n};\n\nconst hasFaqSignal = () => {\n  const faqWords = ['where', 'location', 'address', 'warranty', 'delivery', 'payment', 'hours', 'policy'];\n  return faqWords.some((w) => text.includes(w)) || understanding.tentative_flow === 'faq';\n};\n\nconst hasSupportSignal = () => {\n  const supportWords = ['problem', 'issue', 'order', 'delayed', 'help', 'support'];\n  return supportWords.some((w) => text.includes(w)) || understanding.tentative_flow === 'support';\n};\n\nconst isShortRefinement = () => {\n  const refinementWords = ['128gb', '8/128', '8gb', 'black', 'last price', 'cheaper', 'that one', 'second one', 'first one', 'version'];\n  return text.length > 0 && (refinementWords.some((w) => text.includes(w)) || understanding.reference_resolution?.refers_to !== null);\n};\n\nconst wantsHuman = () => {\n  const words = ['human', 'admin', 'owner', 'person', 'talk to'];\n  return words.some((w) => text.includes(w));\n};\n\nif (eventType === 'start_reset') {\n  decision = {\n    ...decision,\n    resolved_flow: 'none',\n    tentative_flow: 'none',\n    route_locked: false,\n    next_action: 'clarify',\n    reply_mode: 'neutral_clarify',\n    resolver_needed: false,\n    selected_option: null,\n    last_asked_key: null,\n    decision_reason: 'start_reset_event',\n  };\n} else if (eventType === 'deep_link_start') {\n  decision = {\n    ...decision,\n    resolved_flow: 'buy',\n    tentative_flow: 'buy_soft',\n    route_locked: false,\n    next_action: 'suggest_options',\n    reply_mode: 'suggest_options',\n    resolver_needed: true,\n    decision_reason: 'deep_link_start_event',\n  };\n} else if (eventType === 'callback_action') {\n  const action = callbackQuery?.data || callbackQuery?.action || 'unknown_callback';\n  if (String(action).includes('select_option')) {\n    decision = {\n      ...decision,\n      resolved_flow: sessionResolvedFlow === 'none' ? 'buy' : sessionResolvedFlow,\n      tentative_flow: 'buy_soft',\n      route_locked: true,\n      next_action: 'suggest_options',\n      reply_mode: 'confirm_selection',\n      resolver_needed: true,\n      decision_reason: 'callback_select_option',\n    };\n  } else if (String(action).includes('confirm_order')) {\n    decision = {\n      ...decision,\n      resolved_flow: 'buy',\n      tentative_flow: 'buy_soft',\n      route_locked: true,\n      next_action: 'answer_direct',\n      reply_mode: 'confirm_selection',\n      resolver_needed: true,\n      decision_reason: 'callback_confirm_order',\n    };\n  } else if (String(action).includes('change_option')) {\n    decision = {\n      ...decision,\n      resolved_flow: 'buy',\n      tentative_flow: 'buy_soft',\n      route_locked: true,\n      next_action: 'suggest_options',\n      reply_mode: 'suggest_options',\n      resolver_needed: true,\n      decision_reason: 'callback_change_option',\n    };\n  } else if (String(action).includes('notify')) {\n    decision = {\n      ...decision,\n      notify_triggered: true,\n      next_action: 'notify_me',\n      reply_mode: 'notify_confirmation',\n      resolver_needed: false,\n      decision_reason: 'callback_notify_me',\n    };\n  } else if (String(action).includes('admin') || String(action).includes('handoff')) {\n    decision = {\n      ...decision,\n      handoff_triggered: true,\n      next_action: 'handoff',\n      reply_mode: 'handoff_notice',\n      resolver_needed: false,\n      decision_reason: 'callback_admin_handoff',\n    };\n  } else {\n    decision = {\n      ...decision,\n      next_action: 'clarify',\n      reply_mode: 'neutral_clarify',\n      resolver_needed: false,\n      decision_reason: 'callback_unknown_safe_fallback',\n    };\n  }\n} else if (understanding.confidence < 0.7 || understanding.ambiguity > 0.4) {\n  decision = {\n    ...decision,\n    resolved_flow: 'none',\n    tentative_flow: 'none',\n    route_locked: false,\n    next_action: 'clarify',\n    reply_mode: 'neutral_clarify',\n    resolver_needed: false,\n    last_asked_key: null,\n    decision_reason: 'weak_understanding_fallback',\n  };\n} else if (isShortRefinement() && sessionResolvedFlow === 'buy') {\n  decision = {\n    ...decision,\n    resolved_flow: 'buy',\n    tentative_flow: 'buy_soft',\n    route_locked: true,\n    next_action: understanding.next_action === 'answer_direct' ? 'answer_direct' : 'suggest_options',\n    reply_mode: 'suggest_options',\n    resolver_needed: true,\n    selected_option: understanding.reference_resolution?.resolved_id || decision.selected_option,\n    decision_reason: 'short_buy_refinement_inherited',\n  };\n} else if (isShortRefinement() && sessionResolvedFlow === 'exchange') {\n  decision = {\n    ...decision,\n    resolved_flow: 'exchange',\n    tentative_flow: 'exchange_soft',\n    route_locked: true,\n    next_action: 'ask_one_thing',\n    reply_mode: 'exploratory_question',\n    resolver_needed: true,\n    decision_reason: 'short_exchange_refinement_inherited',\n  };\n} else if (hasFaqSignal()) {\n  decision = {\n    ...decision,\n    resolved_flow: 'faq',\n    tentative_flow: 'faq',\n    route_locked: true,\n    next_action: 'answer_direct',\n    reply_mode: 'direct_answer',\n    resolver_needed: true,\n    last_asked_key: null,\n    decision_reason: 'faq_override',\n  };\n} else if (hasSupportSignal()) {\n  decision = {\n    ...decision,\n    resolved_flow: 'support',\n    tentative_flow: 'support',\n    route_locked: true,\n    next_action: 'answer_direct',\n    reply_mode: 'direct_answer',\n    resolver_needed: true,\n    last_asked_key: null,\n    decision_reason: 'support_override',\n  };\n} else if (hasStrongExchangeSignal()) {\n  decision = {\n    ...decision,\n    resolved_flow: 'none',\n    tentative_flow: 'exchange_soft',\n    route_locked: false,\n    next_action: understanding.next_action || 'ask_one_thing',\n    reply_mode: 'exploratory_question',\n    resolver_needed: true,\n    decision_reason: 'strong_exchange_soft_route',\n  };\n} else if (hasStrongBuySignal() || understanding.tentative_flow === 'buy_soft') {\n  decision = {\n    ...decision,\n    resolved_flow: 'none',\n    tentative_flow: 'buy_soft',\n    route_locked: false,\n    next_action: understanding.next_action || 'ask_one_thing',\n    reply_mode: understanding.next_action === 'suggest_options' ? 'suggest_options' : 'exploratory_question',\n    resolver_needed: true,\n    decision_reason: 'strong_buy_soft_route',\n  };\n}\n\nif (decision.resolved_flow === 'none' && understanding.confidence >= 0.85 && understanding.ambiguity <= 0.25 && (understanding.evidence_accumulated >= 2 || sessionEvidence >= 2)) {\n  if (decision.tentative_flow === 'buy_soft') {\n    decision.resolved_flow = 'buy';\n    decision.route_locked = true;\n    decision.decision_reason = 'hard_lock_buy_by_evidence';\n  } else if (decision.tentative_flow === 'exchange_soft') {\n    decision.resolved_flow = 'exchange';\n    decision.route_locked = true;\n    decision.decision_reason = 'hard_lock_exchange_by_evidence';\n  } else if (decision.tentative_flow === 'faq') {\n    decision.resolved_flow = 'faq';\n    decision.route_locked = true;\n    decision.decision_reason = 'hard_lock_faq_by_evidence';\n  } else if (decision.tentative_flow === 'support') {\n    decision.resolved_flow = 'support';\n    decision.route_locked = true;\n    decision.decision_reason = 'hard_lock_support_by_evidence';\n  }\n}\n\nif (decision.next_action === 'ask_one_thing' && decision.last_asked_key && sessionLastAskedKey && decision.last_asked_key === sessionLastAskedKey && understanding.missing_information.length === 0) {\n  decision.next_action = 'clarify';\n  decision.reply_mode = 'neutral_clarify';\n  decision.last_asked_key = null;\n  decision.decision_reason = 'prevent_repeated_question';\n}\n\nif (wantsHuman() || errorCount >= 3) {\n  decision.handoff_triggered = true;\n  decision.next_action = 'handoff';\n  decision.reply_mode = 'handoff_notice';\n  decision.resolver_needed = false;\n  decision.decision_reason = wantsHuman() ? 'explicit_handoff_request' : 'error_threshold_handoff';\n}\n\nif (decision.next_action === 'notify_me') {\n  decision.notify_triggered = true;\n  decision.reply_mode = 'notify_confirmation';\n  decision.resolver_needed = false;\n  decision.decision_reason = 'notify_triggered_by_decision';\n}\n\nif (!decision.decision_reason || decision.decision_reason === 'default_initialization') {\n  decision = {\n    ...decision,\n    resolved_flow: 'none',\n    tentative_flow: 'none',\n    route_locked: false,\n    next_action: 'clarify',\n    reply_mode: 'neutral_clarify',\n    resolver_needed: false,\n    decision_reason: 'default_exploratory_fallback',\n  };\n}\n\nreturn [{ json: { ...input, rules_decision: decision } }];"
      },
      "id": "rules-layer",
      "name": "Rules Layer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ]
    }
  ],
  "connections": {
    "Telegram Input": {
      "main": [
        [
          {
            "node": "Event Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Normalizer": {
      "main": [
        [
          {
            "node": "Session Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Load": {
      "main": [
        [
          {
            "node": "Session Bootstrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Bootstrap": {
      "main": [
        [
          {
            "node": "Understanding AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Understanding AI": {
      "main": [
        [
          {
            "node": "Validation Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Node": {
      "main": [
        [
          {
            "node": "Rules Layer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "3766617d-67bd-4a15-bac9-d7aab0829297",
  "activeVersionId": null,
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-02T14:52:22.958Z",
      "createdAt": "2026-04-02T14:52:22.958Z",
      "role": "workflow:owner",
      "workflowId": "9XuOQHcbIZqE8scq",
      "projectId": "0yTr2eWi0tTJaMgu",
      "project": {
        "updatedAt": "2026-03-31T22:29:30.641Z",
        "createdAt": "2026-03-31T22:17:25.718Z",
        "id": "0yTr2eWi0tTJaMgu",
        "name": "Abenezer Tadiyos <babig7633@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "f2b22b50-c125-4a5c-b9fe-cd14fe26e319"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
